.zoom{
    width: max-content;
    position: relative;
}
#img{
    position: absolute;
    left: 0;
    transform: scale(1.5);
    pointer-events: none;
    --zoom-x:50%;
    --zoom-y:50%;
    clip-path: circle(
    100px at var(--zoom-x) var(--zoom-y)
    );
}
